body {
  font-size: 25px;
  padding-bottom: 100px;
  background-color: rgb(87, 8, 87);
  color: white;
  font-family: 'Charmonman', cursive;
}



textarea {
  background: transparent;
  border: none;
  resize: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(75, 3, 75);
  border-left: 1px solid white;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px dashed white;
}

.hour {
  background-color: rgb(226, 163, 173);
  color: #000000;
  border: 2px dashed white;
  border-radius: 50px;
  font-weight: bold;
}

.past {
  background-color: rgb(203, 136, 203);
  color: white;
}

.present {
  background-color: rgb(81, 40, 88);
  color: white;
}

.future {
  background-color: rgb(203, 56, 176);
  color: white;
}

.saveBtn {
  border: 2px dashed white;
  border-radius: 50px;
  background-color: rgb(226, 163, 173);
  color: black;
  font-family: none;
  font-size: 25px;
  height: 50%;
  margin-top: 20px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#notification {
  display: none;
  margin: auto;
  background-color: rgb(83, 205, 239);
  color:white;
  padding: 8px;
  border-radius: 5px;
  width: 25%;
}

.notification-icon {
  font-size: 24px;
  margin-left: 10px;
}